<!DOCTYPE html>
<html lang="en">
<head>
  <% include headerStuff %>
</head>
<body>
  <div class="container-fluid">
    <% include pageHeader %>
    <div class="row">
      <div class="col-xs-12">
        <form action="/notes/save" method="POST">
          <input type="hidden" name="docreate" value="<%= docreate ? 'create' : 'update' %>">
          <div class="form-group">
            <label for="key">Key</label>
            <% if (docreate) { %>
              <input type="text" class="form-control" name="notekey" id="key" value=""/>
            <% } else { %>
              <%= note ? notekey : "" %>
              <input type="hidden" name="notekey" value="<%= note ? notekey : '' %>" />
            <% } %>
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control" value="<%= note ? note.title : '' %>" />
          </div>
          <div class="form-group">
            <textarea class="form-control" name="body" rows="5"><%= note ? note.body : "" %></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit" />
          </div>
        </form>
      </div>
    </div>
    <% include footer %>
  </div>
</body>
</html>